.root {
    // background-color: red;
    min-width: 100%;
    min-height: 100%;

    .wrap {
        max-width: inherit;
        min-width: 320px;
        // background-color: hotpink;
        text-align: center;

        .conf-wrap {
            // background-color: aqua;
            padding: 12px 0px 12px 0px;
            .url {
                // background-color: blue;
                display: flex;

                input {
                    padding: 10px;
                    width: 85%;
                }
                button {
                    width: 15%;
                    background-color: darkgreen;
                    color: white;
                }
            }
        }
    }

    @media screen and (min-width: 600px) {
        .wrap {
            max-width: 600px;
        }
    }
}